.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin atSmall {
    /* Este padding es para darle espacio al icono(aplicando el padding al texto), ya que esta
      posicionado absolut
    */
    padding-left: 94px;
  }

  &__icon {
    /* En pantallas pequeñas tiene su propia linea, y esta centrado */
    display: block;
    margin: 0 auto;

    @mixin atSmall {
      /* En pantallas grandes se coloca a la izq del texto */
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-weight: 300;
    margin-bottom: 0.8rem;
    margin-top: 0.7em;
    text-align: center; /* Alineamos texto en pantallas pequeñas */

    @mixin atSmall {
      text-align: left; /* Alineamos texto a la izq en las demas dimensiones */
      margin-top: 1em;
      font-size: 1.875rem;
    }
  }
}
