.row {
  @mixin clearfix {
  }

  /* #IMPORTANT ROW GUTTERS ES UNA CLASE QUE DA GAP A LAS COLUMNAS */
  /* Como quitar el padding del ultimo child de row */
  &--gutters {
    margin-right: -65px;
  }

  /* Seleccionamos todos los div children de gutters */
  &--gutters > div {
    padding-right: 65px;
  }

  /* GUTTERS PERO MAS GRANDE */
  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  /* CUANDO LA SCREEN SEA MEDIANA O > === HACEMOS SE APLICAN LOS ESTILOS DE
    LAS COLUMNAS
  */
  @mixin atMedium {
    /* Quitamos el margin de la clase, que solo se debe aplicar a pantallas pequeñas */
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }
    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }
    &__medium-8--larger {
      width: 63%;
    }
  }
}
